html {height: 100%;}
body {margin: 0;padding: 0;font: normal 100% Helvetica, Arial, sans-serif;line-height: 1.5;position: relative;height: 100%;-webkit-text-size-adjust: 100%;-webkit-user-select: none;user-select: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}

.page {width: 100%;height: 100%;position: absolute;font-size: 100px;text-align: center;}
.hide {display: none;}
.swiper-container {width: 100%;height: 100%;color: #fff;text-align: center;}

.page-1-1{ background:url(../image/img01.jpg) no-repeat 0 0;background-size: 100%;}
.page-2-1{ background:url(../image/img02.jpg) no-repeat 0 0;background-size: 100%;}
.page-3-1{ background:url(../image/img03.jpg) no-repeat 0 0;background-size: 100%;}
.page-4-1{ background:url(../image/img04.jpg) no-repeat 0 0;background-size: 100%;}
.page-5-1{ background:url(../image/img05.jpg) no-repeat 0 0;background-size: 100%;}
.page-6-1{ background:url(../image/img06.jpg) no-repeat 0 0;background-size: 100%;}
.page-7-1{ background:url(../image/img07.jpg) no-repeat 0 0;background-size: 100%;}
.page-8-1{ background:url(../image/img08.jpg) no-repeat 0 0;background-size: 100%;}
.page-9-1{ background:url(../image/img09.jpg) no-repeat 0 0;background-size: 100%;position:relative;}

@keyframes yguide_down{
	0%,100%{
		transform:translateY(25px);
		-moz-transform:translateY(25px);
		-o-transform:translateY(25px);
		-webkit-transform:translateY(25px);
		-ms-transform:translateY(25px);
		opacity:0.5;
	}
	50%{
		transform:translateY(60px);
		-moz-transform:translateY(60px);
		-o-transform:translateY(60px);
		-webkit-transform:translateY(60px);
		-ms-transform:translateY(60px);
		opacity:1;
	}

}
@-webkit-keyframes yguide_down{
	0%,100%{
		transform:translateY(25px);
		-moz-transform:translateY(25px);
		-o-transform:translateY(25px);
		-webkit-transform:translateY(25px);
		-ms-transform:translateY(25px);
		opacity:0.5;
	}
	50%{
		transform:translateY(60px);
		-moz-transform:translateY(60px);
		-o-transform:translateY(60px);
		-webkit-transform:translateY(60px);
		-ms-transform:translateY(60px);
		opacity:1;
	}

}

.arrow-up{ display:inline-block; width:33px; height:12px; position:fixed; left:50%; bottom:10%; margin-left:-16px; background:url(../image/arrow_up.png) no-repeat 0 0; background-size:33px; z-index:10;}
.arrow-down{ display:inline-block; width:33px; height:12px; position:fixed; left:50%; bottom:10%; margin-left:-16px; background:url(../image/arrow_down.png) no-repeat 0 0; background-size:33px; z-index:10;}
.trans{-webkit-animation:yguide_down 4.0s infinite ease-in-out;-moz-animation:yguide_down 4.0s infinite ease-in-out;-o-animation:yguide_down 4.0s infinite ease-in-out;animation:yguide_down 4.0s infinite ease-in-out;}

.page-current {z-index: 1;}



@media screen and (min-width: 640px) {
.form-apply{ overflow:hidden;position:absolute;bottom:100px;}
.form-apply dt{ float:left; width:184px; height:80px; line-height:80px; font-size:30px; text-align:right; font-family:"Microsoft Yahei"; color:#818181; margin-bottom:18px;}
.form-apply dd{ float:left; width:320px; height:80px; margin:0; margin-bottom:18px;}
.form-apply .txt{ float:left; width:311px; height:74px; padding:2px; border:1px solid #d4dee2;}
.form-apply .btn{ float:left; width:254px; height:94px; line-height:94px; text-align:center; background:url(../image/btn.png) no-repeat 0 0; margin:0; padding:0; border:0; font-family:"Microsoft Yahei"; font-size:32px; color:#2a2a2a;}
}

@media screen and (min-width: 320px) and (max-width: 639px) {
.form-apply{ width:320px; overflow:hidden;position:absolute;left:50%;bottom:5px;margin-left:-160px;}
.form-apply dt{ float:left; width:100px; height:40px; line-height:40px; font-size:16px; text-align:right; font-family:"Microsoft Yahei"; color:#818181; margin-bottom:5px;}
.form-apply dd{ float:left; width:200px; height:40px; margin:0; margin-bottom:5px;}
.form-apply .txt{ float:left; width:200px; height:34px; padding:2px; border:1px solid #d4dee2;}
.form-apply .btn{ float:left; width:127px; height:47px; line-height:47px; text-align:center; background:url(../image/btn.png) no-repeat 0 0; background-size:127px; margin:0; padding:0; border:0; font-family:"Microsoft Yahei"; font-size:16px; color:#2a2a2a;}
}